* {
    margin: 0;
    padding: 0;
}

html, body, div, p, ul, li, h1, h2, h3, a, span, i, header, footer, #progress_container {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-appearance: none;
}

body {
    font: normal 14px "microsoft yahei";
    background-color: #EFEFF4;
    color: #333;
    position: relative;
}

i {
    font-style: normal;
    display: inline-block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    text-decoration: none;
    color: #4C7BBC;
    display: block;
}

#page {
    width: 100%;
    border: 0px;
}

#header {
    padding: 5px;
    background-color: #F7F7F7;
    text-align: center;
    /*background: linear-gradient(to bottom, #f4f4f4 0, #eee 100%);*/
    border-bottom: solid 1px #B3B3B3;
    /*-webkit-box-shadow: 0 1px 1px 0 #DFDFDF;*/
    /*box-shadow: 0 1px 1px 0 #DFDFDF;*/
    display: -moz-box;
    display: -webkit-box;
    display: box;

}

#header h1 {
    color: #000000;
    font-size: 20px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;

}

.btn {
    width: 50px;
    height: 30px;
    color: #006AFF;
    font-size: 18px;
    /*border: solid 1px #DFDFDF;*/
    /*background: #FFF;*/
    text-align: center;
    text-align: -webkit-match-parent;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.back_btn {
    /*margin-top: 2px;*/
    /*left: 0px;*/
    position: relative;
}

.ios7_font {
    color: #006AFF;
}

.text_right {
    text-align: right;
}

.list {
    list-style: none;

}

.file, .apk, .doc, .exe, .video, .music, .pdf, .rar, .txt {
    background-image: url('/img/common.png');
    -webkit-background-size: 364px 40px;
    background-size: 364px 40px;
}

.file {

    background-position: -40px 0px;
}

.apk {
    background-position: 0px 0px;
}

.doc {
    background-position: -81px 0px;
}

.exe {
    background-position: -121px 0px;
}

.video {
    background-position: -162px 0px;
}

.music {
    background-position: -202px 0px;
}

.pdf {
    background-position: -243px 0px;
}

.rar {
    background-position: -283px 0px;
}

.txt {
    background-position: -324px 0px;
}

.folder {
    background-image: url('/img/folders.png');
    -webkit-background-size: 364px 40px;
    background-size: 364px 40px;
    background-position: -276px 0;
}

.newfolder {
    background-image: url('/img/newfolder.png');
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
    background-position: -5px -4px;
}

/*.list, #progress_container {*/
    /*border-bottom: solid 1px #FFF;*/
/*}*/

.list li, #progress_container {
    border-bottom: solid 1px #DFDFDF;
    /*border-top: solid 1px #FFF;*/
    position: relative;
    overflow: hidden;
    height: 44px;
}

.content {
    margin-top: 0;
    -moz-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    margin-left: 4px;
    position: relative;
}

.list-item {
    padding-left: 6px;
    height: 44px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    color: #333;
    position: relative;
    background-color: #FFFFFF;
}

.list-item-show {
    background: #FFF;
}

.list-item-show .content {

    top: -44px;
}

.list-item h3 {
    white-space: nowrap;
    height: 24px;
    line-height: 1.6;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 4px;
    font-size: 15px;
}

.list-item .content {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    margin-left: 4px;
}

h3 {
    display: block;
    font-size: 1.17em;
    /*-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

*

/
font-weight: bold

;
    }

h3 {
    font-weight: normal;
    font-size: 16px;
}

.list .content {
    margin-top: 0;
    -moz-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}

.list-content {
    height: 20px;
    line-height: 20px;
    position: relative;
    color: #aaa;
    font-size: 12px;
}

.file-operate {
    text-align: center;
    font-size: 11px;
    height: 44px;
}

.list-content span {
    position: absolute;
    right: 5px;
    top: 0;
}

.file-operate div {
    display: inline-block;
    text-align: center;
    width: 60px;
    padding: 8px 0 4px 0;
}

.file-operate i {
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.show-operate {
    width: 50px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}
