.upload_btn {
    /*right: 0px;*/
    position: relative;
    display: inline-block;
}

.file-icon {
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 2px;
}


.input_bar {
    margin-left: 10px;
    margin-bottom: 6px;
    /*margin-right: 10px;*/
    margin-top: 6px;
    border: solid 1px #DFDFDF;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-box-flex: 1;
    padding: 5px;
    background-color: #FFFFFF;
}



.addfolder_c {
    height: 45px;
    border: solid 1px #DFDFDF;
    top: 10px;
    position: relative;
    margin: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    background-color: #FFFFFF;
}

.clean_right{
    padding-right: 0px;
}

.show-operate {
    width: 30px;
    text-align:left;
}
.idown {
    margin-left: 5px;
}