body {
    background-color: #FFFFFF;
}
#content {

    padding: 10px;
}

.photos {


}

.photos {
    display: block;
    /*width: 320px;*/
    height: 80px;
    background-color: #FFFFFF;
    position: relative;
    /*float: left;*/
    margin-bottom: 10px;
    display: -moz-box;
    display: -webkit-box;
    display: box;
    overflow: hidden;
    color: #000000;
}

.album{

    height: 80px;
    width: 80px;
    background-color: #333333;
    display: block;

}
.album_desc {
    /*height: 0px;*/
    top: 20px;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-box-flex: 1;
    /*background-color: red;*/
    padding-left: 10px;
    position: relative;

}
.album_desc h3{

    font-size: 18px;
}

.album_desc span{
    display: block;
    /*top: 30px;*/

}

.show-operate{
    height: 80px;
    line-height:80px;
    /*background-color: yellow;*/
}
.idown {
    margin-left: 5px;
    margin-top: -2px;
    height: 13px;
    margin-right: -5px;
    width: 11px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}